{% extends "layout.html" %}

{% block pageTitle %}
  Would you like to take part in research?
{% endblock %}

{% block beforeContent %}
<div class="govuk-phase-banner">
  <p class="govuk-phase-banner__content">
    <strong class="govuk-tag govuk-phase-banner__content__tag">
      beta
    </strong>
    <span class="govuk-phase-banner__text">
      This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.
    </span>
  </p>
</div>
<div>
  <a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
</div>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form class="form" action="privacy-statement" method="post">

      {% from "govuk/components/radios/macro.njk" import govukRadios %}

{{ govukRadios({
  idPrefix: "how many balls",
  name: "how-many-balls",
  fieldset: {
    legend: {
      text: "Would you like to take part in research to help us improve the Homes for Ukraine service?",
      isPageHeading: true,
      classes: "govuk-fieldset__legend--l"
    }
  },
  hint: {
    text: "This could involve completing a survey or taking part in a video call with a 
    user research team. If you choose ‘Yes’, you’re agreeing to be contacted using 
    the email address or telephone number you provided in this form."
  },
  items: [
    {
      value: "yes",
      text: "Yes"
    },
    {
      value: "no",
      text: "No"
    }
  ]
}) }}

  <button class="govuk-button" data-module="govuk-button">Continue</button>
</form>

    </div>
  </div>

{% endblock %}
