{% extends "layout.html" %}

{% block pageTitle %}
  Why we are collecting this data
{% endblock %}

{% block beforeContent %}
<div class="govuk-phase-banner">
  <p class="govuk-phase-banner__content">
    <strong class="govuk-tag govuk-phase-banner__content__tag">
      beta
    </strong>
    <span class="govuk-phase-banner__text">
      This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.
    </span>
  </p>
</div>
<div>
  <a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
</div>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">
        Why we are collecting this data
      </h1>

      <p>Your details will be shared with your local council who may contact you if someone in your area needs a sponsor.</p>
      
      <ul class="govuk-list govuk-list--bullet">
        <li>central data collect</li>
        <li>give data to local authorities</li>
        <li>to receive alerts</li>
      </ul>

      <br/>

      {% from "govuk/components/radios/macro.njk" import govukRadios %}

{{ govukRadios({
  idPrefix: "how many balls",
  name: "how-many-balls",
  fieldset: {
    legend: {
      text: "Would you like us to collect this data?",
      isPageHeading: true,
      classes: "govuk-fieldset__legend--m"
    }
  },
  items: [
    {
      value: "yes",
      text: "Yes"
    },
    {
      value: "no",
      text: "No"
    }
  ]
}) }}

      <form class="form" action="enter-your-name" method="post">
        <button class="govuk-button" data-module="govuk-button">Continue</button>
      </form>

    </div>
  </div>

{% endblock %}
