{% extends "layout.html" %}

{% block pageTitle %}
  Homes for Ukraine: record your interest
{% endblock %}

{% block header %}
  <!-- Blank header with no service name for the start page -->
  {{ govukHeader() }}
{% endblock %}
{#
{% block beforeContent %}
  <div class="govuk-breadcrumbs">
    <ol class="govuk-breadcrumbs__list">
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="https://www.gov.uk">Home</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="#">Section</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link">Subsection</a>
      </li>
    </ol>
  </div>
{% endblock %}
#}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <div class="homes-for-ukraine">
        <img style="max-width: 960px;" src="https://apply-to-offer-homes-for-ukraine.service.gov.uk/images/HFU-Banner.png" alt="Larry the cat, Chief Mouser to the Cabinet Office, sitting on a meeting table wearing a Union Jack bowtie.">
      </div>

      <br /><br>
      <h1 class="govuk-heading-l">
        People from Ukraine living in the UK need new homes
      </h1>

      <p>Over 100,000 people from Ukraine have found safe homes in the UK. After 6 months, many 
        need to move on from their first home and find a new host before living independently.</p>

      <p>Sponsoring a family already in the UK is often far less challenging than supporting someone who has just landed in the UK.</p>
     
      <!-- <h2 class="govuk-heading-m">Check if you'd make a good host</h2>
      <p>Hosting is a big undertaking, and isn't for everyone, find out if it's right for you.</p> -->

      <br />
      
      <form class="form" action="start" method="post">
        <button class="govuk-button" data-module="govuk-button">Register for hosting opportunities</button>
      </form>

      <!-- <h2 class="govuk-heading-m">Elena's and Sally's story</h2>
      <p>“I was very worried about leaving,” she said. “But my family were insistent. 
        They said what is the point in no-one surviving? We want at least one person to survive and we want that to be you.”</p>

      <img src="../app/assets/images/campaign-image.png">
      

      <p>"I'm so glad I met Sally, she's given me a warm, safe home in a very scary time."</p> -->

      
    </div>
  </div>
{% endblock %}





<p>Registration <b>does not guarantee</b> that your local council will contact you and find you a hosting opportunity.</p>