{% extends "layout.html" %}

{% block pageTitle %}
  Challenges
{% endblock %}

{% block beforeContent %}


<div class="govuk-phase-banner">
  <p class="govuk-phase-banner__content">
    <strong class="govuk-tag govuk-phase-banner__content__tag">
      beta
    </strong>
    <span class="govuk-phase-banner__text">
      This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.
    </span>
  </p>
</div>
<div>
  <a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
</div>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">
        There are some challenges
      </h1>

      <p>Hosting can be a very rewarding experience, but there are some challenges that you need to think about carefully:</p>
    

      <ul class="govuk-list govuk-list--bullet">
        <li>additional household costs because there are more people living in your home
        </li>
        <li>communicating with guests who don't speak your first language fluently</li>
        <li>changes in your household dynamics when sharing your home with guests
        </li>
        <li>differences in living habits, including household tasks and eating preferences</li>
        <li>deciding on boundaries and how you want to live together</li>
      </ul>

     
      <br/>
      
      <form class="form" action="/challenges-redirect" method="post">
      
      {% from "govuk/components/radios/macro.njk" import govukRadios %}

{{ govukRadios({
  idPrefix: "challenges-redirect-1",
  name: "challenges-redirect-1",
  fieldset: {
    legend: {
      text: "Do you feel able to take on these challenges?",
      isPageHeading: true,
      classes: "govuk-fieldset__legend--m"
    }
  },
  items: [
    {
      value: "yes",
      text: "Yes",
      hint: {
        text: "I'm still happy to host"
      }
    },
    {
      value: "no",
      text: "No",
      hint: {
        text: "This isn't something that I can do right now"
      }
    }
  ]
}) }}

<p><a href="https://www.gov.uk/guidance/sources-of-support-for-sponsors-hosting-people-from-ukraine" class="govuk-link" rel="noreferrer noopener" target="_blank">Learn more about support for hosts (opens in a new tab)</a></p>

<br />
        <button class="govuk-button" data-module="govuk-button">Continue</button>
      </form>

    </div>
  </div>

{% endblock %}
