{% extends "layout.html" %}

{% block pageTitle %}
  Confirmation page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <div class="govuk-panel govuk-panel--confirmation">
        <h1 class="govuk-panel__title">Registration complete</h1>
        <div class="govuk-panel__body">
          Your reference number<br><strong>HDJ2123F</strong>
        </div>
      </div>

      <br />
      <p>
        Thank you for registering your offer to host someone from Ukraine.
      </p>
      <h2 class="govuk-heading-m">What happens next</h2>
      
      <p>You will be contacted by your local council or one of their partners with opportunities to host a suitable guest from Ukraine.</p>
      <p>
        If something changes and you are no longer able to host, <a href="https://www.gov.uk/find-local-council" class="govuk-link" rel="noreferrer noopener" target="_blank">contact your local council (opens in a new tab)</a>.
      </p>
      <p>We also recommend that you <a href="https://www.gov.uk/guidance/homes-for-ukraine-sponsor-guidance" class="govuk-link" rel="noreferrer noopener" target="_blank">read the guidance for sponsors and hosts (opens in a new tab)</a>.</p>
      

      <br />

    </div>
  </div>

{% endblock %}
