{% extends "layout.html" %}

{% block pageTitle %}
  Confirmation page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <div class="govuk-panel govuk-panel--confirmation">
        <h1 class="govuk-panel__title">Registration complete</h1>
        <div class="govuk-panel__body">
          Your reference number<br><strong>HDJ2123F</strong>
        </div>
      </div>
      <br />
      <p>
        Thank you for registering your offer to host Ukrainians.
      </p>
      <h2 class="govuk-heading-m">What happens next</h2>
      <p>
        You might be contacted by your local council or one of their partners if a hosting opportunity comes up in your area.
      </p>
      
      <div class="govuk-warning-text">
        <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
        <strong class="govuk-warning-text__text">
          <span class="govuk-warning-text__assistive">Warning</span>
          Your local council isn't actively recruiting hosts, so you may not be contacted.
          <br /><br />
          This will change if demand increases.
        </strong>
      </div>

      <p>If something changes and you are no longer ables to host, <a href="">contact your local council</a>.</p>



      <br />

    </div>
  </div>

{% endblock %}
