{% extends "layout.html" %}

{% block pageTitle %}
How soon can you start hosting someone?
{% endblock %}

{% block beforeContent %}
<div class="govuk-phase-banner">
  <p class="govuk-phase-banner__content">
    <strong class="govuk-tag govuk-phase-banner__content__tag">
      beta
    </strong>
    <span class="govuk-phase-banner__text">
      This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.
    </span>
  </p>
</div>
<div>
  <a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
</div>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full-width">

      <form class="form" action="how-many-people-will-be-living-at-your-address" method="post">

      {% from "govuk/components/radios/macro.njk" import govukRadios %}


{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "govuk/components/date-input/macro.njk" import govukDateInput %}

{% set dateHtml %}
{{ govukDateInput({
  id: "contact-by-text",
  name: "contact-by-text",
  type: "tel",
  autocomplete: "tel",
  classes: "govuk-!-width-one-third",
  label: {
    text: "Test"
  }
}) }}
{% endset -%}

{{ govukRadios({
  name: "contact",
  fieldset: {
    legend: {
      text: "How soon can you start hosting someone?",
      isPageHeading: true,
      classes: "govuk-fieldset__legend--l"
    }
  },
  
  items: [
    {
      value: "soon-as-possible",
      text: "As soon as possible"
    },
    {
      value: "specific-date",
      text: "From a specific date",
      conditional: {
        html: dateHtml
      }
    }
  ]
}) }}

  <button class="govuk-button" data-module="govuk-button">Continue</button>
</form>

    </div>
  </div>

{% endblock %}
