{% extends "layout.html" %}

{% block pageTitle %}
  How long can you offer accommodation for?
{% endblock %}

{% block beforeContent %}
<div class="govuk-phase-banner">
  <p class="govuk-phase-banner__content">
    <strong class="govuk-tag govuk-phase-banner__content__tag">
      beta
    </strong>
    <span class="govuk-phase-banner__text">
      This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.
    </span>
  </p>
</div>
<div>
  <a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
</div>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form class="form" action="/commitment-redirect" method="post">

      {% from "govuk/components/radios/macro.njk" import govukRadios %}

{{ govukRadios({
  idPrefix: "commitment-redirect-1",
  name: "commitment-redirect-1",
  fieldset: {
    legend: {
      text: "Can you commit to hosting for at least 6 months?",
      isPageHeading: true,
      classes: "govuk-fieldset__legend--l"
    }
  },
  hint: {
    text: "You must be able to commit to hosting someone for at least 6 months to participate in the scheme."
  },
  items: [
    {
      value: "yes",
      text: "Yes"
    },
    {
      value: "no",
      text: "No"
    }
  ]
}) }}


<br />
  <button class="govuk-button" data-module="govuk-button">Continue</button>
</form>

    </div>
  </div>

{% endblock %}
