{% extends "layout.html" %}

{% block pageTitle %}
  How many bedrooms are available for guests in the property you’re registering now?
{% endblock %}

{% block beforeContent %}
<div class="govuk-phase-banner">
  <p class="govuk-phase-banner__content">
    <strong class="govuk-tag govuk-phase-banner__content__tag">
      beta
    </strong>
    <span class="govuk-phase-banner__text">
      This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.
    </span>
  </p>
</div>
<div>
  <a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
</div>
{% endblock %}

{% block content %}

<div class="govuk-error-summary" aria-labelledby="error-summary-title" role="alert" data-module="govuk-error-summary">
  <h2 class="govuk-error-summary__title" id="error-summary-title">
    There is a problem
  </h2>
  <div class="govuk-error-summary__body">
    <ul class="govuk-list govuk-error-summary__list">
      <li>
        <a href="#full-name-input">You must enter a number from 1-9</a>
      </li>
    </ul>
  </div>
</div>


  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      

      <h1 class="govuk-heading-l">
        How many bedrooms are available for guests in the property you’re registering now?
      </h1>
      <div id="h1-code-hint" class="govuk-hint">
        You must enter at least 1 single or double bedroom. Single bedrooms can normally only contain a single bed. Double bedrooms should have enough space for at least 1 double bed or 2 single beds.
      </div>

      <div class="govuk-form-group govuk-form-group--error">
        <label class="govuk-label" for="national-insurance-number">
          Single bedrooms
        </label>
        <p id="national-insurance-number-error" class="govuk-error-message">
          <span class="govuk-visually-hidden">Error:</span> You must enter a number from 1-9
        </p>
        <input class="govuk-input govuk-input--error govuk-input--width-2" id="national-insurance-number width-2" name="national-insurance-number width-2" type="text" aria-describedby="national-insurance-number-hint national-insurance-number-error">
      </div>

      <div class="govuk-form-group">
        <label class="govuk-label" for="width-2">
          Double bedrooms
        </label>
        <input class="govuk-input govuk-input--width-2" id="width-2" name="width-2" type="text" value="0">
      </div>

      <form class="form" action="step-free-access" method="post">
        <button class="govuk-button" data-module="govuk-button">Continue</button>
      </form>

    </div>
  </div>

{% endblock %}
