{% extends "layout.html" %}

{% block pageTitle %}
  Is sponsorship right for you?
{% endblock %}

{% block beforeContent %}
<div class="govuk-phase-banner">
  <p class="govuk-phase-banner__content">
    <strong class="govuk-tag govuk-phase-banner__content__tag">
      beta
    </strong>
    <span class="govuk-phase-banner__text">
      This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.
    </span>
  </p>
</div>
<div>
  <a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
</div>
{% endblock %}

{% block content %}


  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">
        Is sponsorship right for you?
      </h1>

      <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Expedita nam voluptate suscipit quisquam? Quia repellendus 
        perspiciatis illum eligendi molestiae quod fugiat.</p>
      
      <h2 class="govuk-heading-m">Things to consider</h2>

      <ol class="govuk-list govuk-list--number">
  <li>
    <p>Have you spoken to your family?</p>
  </li>
  <li>
    <p>Have you thought about what type of guests you could host?</p>
  </li>
  <li>
    <p>Have you thought about the costs to host a family?</p>
  </li>
  <li>
    <p>Expectatins of hosting, i.e. cooking meals, access to services, giving lifts</p>
  </li>
  <li>
    <p>Have you thought about how you'r all going to live together?</p>
  </li>
  <li>
    <p>Have you though about the language barrier?</p>
  </li>
</ol>

     
      <br/>
      {% from "govuk/components/radios/macro.njk" import govukRadios %}

{{ govukRadios({
  idPrefix: "how many balls",
  name: "how-many-balls",
  fieldset: {
    legend: {
      text: "Do you wish to be a sponsor?",
      isPageHeading: true,
      classes: "govuk-fieldset__legend--m"
    }
  },
  items: [
    {
      value: "yes",
      text: "Yes"
    },
    {
      value: "no",
      text: "No"
    }
  ]
}) }}

      <form class="form" action="do-you-know-who-you-want-to-sponsor">
        <button class="govuk-button" data-module="govuk-button">Continue</button>
      </form>

    </div>
  </div>

{% endblock %}
