{% extends "layout.html" %}

{% block pageTitle %}
  Privacy Statement
{% endblock %}

{% block beforeContent %}
<div class="govuk-phase-banner">
  <p class="govuk-phase-banner__content">
    <strong class="govuk-tag govuk-phase-banner__content__tag">
      beta
    </strong>
    <span class="govuk-phase-banner__text">
      This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.
    </span>
  </p>
</div>
<div>
  <a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
</div>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form class="form" action="checklist" method="post">

        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset" aria-describedby="waste-hint">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
              <h1 class="govuk-fieldset__heading">
                Confirm you have read the privacy statement and agree that the information you have provided in this form can be used for the Homes for Ukraine scheme
              </h1>
            </legend>
            <p><a href="https://www.gov.uk/guidance/homes-for-ukraine-visa-sponsorship-scheme-privacy-notice" class="govuk-link" rel="noreferrer noopener" target="_blank">Privacy statement (opens in a new page)</a></p>
            <div class="govuk-checkboxes" data-module="govuk-checkboxes">
              <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input" id="waste" name="waste" type="checkbox" value="carcasses">
                <label class="govuk-label govuk-checkboxes__label" for="waste">
                  Yes, I have read the privacy statement and agree that the information I have provided in this form can be used for the Homes for Ukraine scheme
                </label>
              </div>
            </div>
        
          </fieldset>
        </div>

    
          <button class="govuk-button" data-module="govuk-button">Continue</button>
        </form>

    </div>
  </div>

{% endblock %}
