{% extends "layout.html" %}

{% block pageTitle %}
  Is sponsorship right for you?
{% endblock %}

{% block beforeContent %}
<div class="govuk-phase-banner">
  <p class="govuk-phase-banner__content">
    <strong class="govuk-tag govuk-phase-banner__content__tag">
      beta
    </strong>
    <span class="govuk-phase-banner__text">
      This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.
    </span>
  </p>
</div>
<div>
  <a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
</div>
{% endblock %}

{% block content %}


  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">
        Now we need your information
      </h1>

      <p>We will now ask you for some detailed, personal information to help you find a suitable guest. </p>
      
    
      <p>This information will be securely sent to your local council and their charitable partners, who are 
        actively seeking new hosts for guests already living in the UK.</p>

      <p>Your council will perform some checks to make sure the property you're offering and the people 
          living in it are suitable for hosting.</p>

      <p>You will be contacted if a suitable guest is found that matches your offer.</p>

     
      <br/>

      <form class="form" action="enter-your-name">
        <button class="govuk-button" data-module="govuk-button">Continue</button>
      </form>

    </div>
  </div>

{% endblock %}


<!-- <p>We will now ask you for some detailed, personal information to help you find a suitable guest. </p>
      
    
      <p>This information will be sent to your local council and their charitable partners who are actively 
        looking for hosts for Ukrainian's living in the UK who need a new host.</p> -->