{% extends "layout.html" %}

{% block pageTitle %}
  Homes for Ukraine: Register for hosting opportunities
{% endblock %}

{% block beforeContent %}
<div class="govuk-phase-banner">
  <p class="govuk-phase-banner__content">
    <strong class="govuk-tag govuk-phase-banner__content__tag">
      beta
    </strong>
    <span class="govuk-phase-banner__text">
      This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.
    </span>
  </p>
</div>
<div>
  <a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
</div>
{% endblock %}

{% block content %}


  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">
        Homes for Ukraine: Register for hosting opportunities
      </h1>

      <p>Thanks to the generosity of the British people, over 100,000 people from Ukraine 
        have arrived in the UK and are living safely in their sponsors’ homes.</p>

      <p>After a few months, many of them need to find a new host while they prepare to 
        live independently, because settling into the UK is taking some guests a little longer than expected.</p>

      <p>Guests already living in the UK usually need far less support from their hosts 
        than someone who has just landed in the UK. Many have already found work and 
        settled into their local area, making them more self-sufficient.</p>
      
        <br />

        
        <h2 class="govuk-heading-m">Check if being a host is right for you
        </h2>
      <p>Hosting people from another country is a big commitment, so we’ve 
        prepared some questions to help you decide if it’s right for you.</p>

   
      <a href="is-your-property-suitable" role="button" draggable="false" class="govuk-button govuk-button--start govuk-!-margin-top-2 govuk-!-margin-bottom-8"  data-module="govuk-button">
        Start now
        <svg class="govuk-button__start-icon" xmlns="http://www.w3.org/2000/svg" width="17.5" height="19" viewBox="0 0 33 40" aria-hidden="true" focusable="false">
          <path fill="currentColor" d="M0 0h13l20 20-20 20H0l20-20z"></path>
        </svg>
      </a>

        <details class="govuk-details" data-module="govuk-details">
          <summary class="govuk-details__summary">
            <span class="govuk-details__summary-text">
              What is the difference between a sponsor and a host?
            </span>
          </summary>
          <div class="govuk-details__text">
            <p>We need to know your nationality so we can work out which elections you’re entitled to vote in. 
              If you cannot provide your nationality, you’ll have to send copies of identity documents through the post.
            </p>

            <p>A host is a person who provides accommodation to people from Ukraine. A host does not have to be a sponsor.</p>
          </div>
        </details>

      

    </div>
  </div>

{% endblock %}
